@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url("/public/assets/fonts/RobotoMono-Regular.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Mono";
    font-weight: 700;
    src: url("/public/assets/fonts/RobotoMono-Bold.ttf");
    font-display: swap;
  }
}
